.email-template {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 305px;
    margin: auto;
    text-align: center;
}

.email-h4 {
    color: #48303F;
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 15px;
    text-transform: uppercase;
}

.email-p {
    color: #48303F;
    font-size: 18px;
    line-height: 26px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-bottom: 30px;
}

.email-span {
    color: #48303F;
    font-size: 16px;
    font-weight: bold;
    line-height: 26px;
    padding-bottom: 20px;
    padding-top: 40px;
}

.email-btn, .email-btn-contact {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 29px;
    background-color: #4E95ED;
    width: 310px;
    height: 58px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    max-width: 100%;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.email-btn-contact {
    background-color: #D4483E;
}

.mobile {
    display: inline;
}

@media only screen and (min-width: 768px) {
    .email-template {
        height: 100vh;
        width: 650px;
    }
    
    .email-h4 {
        font-size: 32px;
        line-height: 42px;
    }
    
    .email-p {
        font-size: 25px;
        line-height: 35px;
    }
    
    .email-span {
        font-size: 16px;
        line-height: 26px;
    }
    
    .email-btn, .email-btn-contact {
        font-size: 18px;
        line-height: 29px;
        width: 450px;
        height: 70px;
    }

    .mobile {
        display: none;
    }
}