<app-header></app-header>
<div class="container">
  <div class="row">
    <div>
      <h4 class="c-heading-small">Send review request to <span>{{ emails.length }}</span> customers</h4>
      <p class="c-paragraph">
        As soon as they leave you a review, rating or feedback you'll see it in your account.
      </p>
      <button class="c-btn u-width-386 u-margin-auto u-mt" (click)="onSend()" [disabled]="disableButton">Send!</button>
    </div>
  </div>
  <div class="row">
      <div class="message-preview">
          <!-- <img class="u--ml" src="../assets/images/iphone.png" /> -->
          <div class="preview">
            <img *ngIf="logo"  [src]="logo" alt="" class="logo-preview">

              <h4 style="font-size: 1.1rem;">{{ emailsData.message }}</h4>

            <p class="c-paragraph-preview u-font-18">
              How would you rate your experience with us?
              We strive for a 5 star experience.
            </p>
            <div class="c-rating">
              <input class="c-rating__input" type="radio" id="star5" name="rating" value="5" ngModel /><label for="star5"></label>
              <input class="c-rating__input" type="radio" id="star4" name="rating" value="4" ngModel /><label for="star4"></label>
              <input class="c-rating__input" type="radio" id="star3" name="rating" value="3" ngModel /><label for="star3"></label>
              <input class="c-rating__input" type="radio" id="star2" name="rating" value="2" ngModel /><label for="star2"></label>
              <input class="c-rating__input" type="radio" id="star1" name="rating" value="1" ngModel /><label for="star1"></label>
            </div>
            <p class="c-paragraph-preview u-font-18 mobile-paragraph">How was your experience?</p>
            <textarea
            class="c-textarea c-textarea--large u-width-580"
            placeholder="Optional but helpful for us"
            name="text"
            ngModel
            readonly>
          </textarea>
      </div>
    </div>
  </div>
  <app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
  </div>

