<div class="remodal c-modal-medium" data-remodal-id="modal">
    <div class="c-flexbox c-flex-column c-wrapper">
      <div class="c-heading-small">Pick a plan to start getting reviews</div>
      <div class="c-paragraph">Before you start you need to pick a plan:</div>
      <a class="c-btn c-btn--light u-width-180 u-margin-auto" (click)="activeModal.dismiss('Cross click'); onChoosePlan();">Pick a plan!</a>
      <div class="c-paragraph">Once you’ve signed up for a plan, reload this page and you'll be able to start immediately!
      </div>
      <!-- <a class="c-btn c-btn--light u-width-180 u-margin-auto" (click)="activeModal.dismiss('Cross click')">Close</a> -->
    </div>
  </div>
