.c-btn--light {
  color: #304AAB !important;
  margin-bottom: 35px !important;
}

.c-link {
 color: #304AAB !important;
 text-decoration: underline !important;
}

.c-paragraph {
  margin-bottom: 35px !important;
  font-size: 19px;
}

.c-heading-small {
  font-size: 32px;
}
